
Click entity for XPath. Double-click to collapse/expand. Enter XPath or XML string then click XPath1/Parse for results or to XML Tree-ify, respectively.
XPath1/Parse
XSL 1.0
<plugin id="cordova-plugin-camera-stream" version="0.1.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CameraStream</name>
    <js-module name="CameraStream" src="www/CameraStream.js">
        <clobbers target="cordova.plugins.CameraStream"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CameraStream">
                <param name="ios-package" value="CDVCameraCapture" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVCameraCapture.m"/>
        <source-file src="src/ios/CDVCameraCapture.h"/>
    </platform>
</plugin>